/* Styling Variables/ Imports */
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,700");

@font-face {
	font-family: 'frente_h1regular';
	src: url('FrenteH1-Regular-webfont.eot');
	src: url('FrenteH1-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('FrenteH1-Regular-webfont.woff') format('woff'),
	url('FrenteH1-Regular-webfont.ttf') format('truetype'),
	url('FrenteH1-Regular-webfont.svg#frente_h1regular') format('svg');
	font-weight: normal;
	font-style: normal;

}


/* General Styling  */


h1, h2, h3, h4, h5, h6, p, .staticrypt-form .staticrypt-decrypt-button, input, span, body {
	font-family: 'frente_h1regular', sans-serif; 
	color:#fff;
	letter-spacing:.2rem;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6, p{
	text-shadow:2px 2px 4px rgba(0,0,0,.8);
}

h1{
	margin-bottom:4rem;
	background-color:rgba(0,0,0,0.75);
	display:inline-block;
	padding:1rem;
}

body{
	background-size:cover;
	background-image:url('../images/bg.jpg');
	min-height:100vh;
	background-position:center;
	transition: all 0.5s ease;
}

@mixin color-shift($color-a, $color-b, $color-c, $color-d, $color-e) {
	@-webkit-keyframes colorShift {
		0%   {background: #16a085; left:0px; top:0px;}
		25%  {background: #1abc9c; left:0px; top:0px;}
		50%  {background: #9b59b6; left:0px; top:0px;}
		75%  {background: #8e44ad; left:0px; top:0px;}
		100% {background: #16a085; left:0px; top:0px;}
	}

	@keyframes colorShift {
		0%   {background: #16a085; left:0px; top:0px;}
		25%  {background: #1abc9c; left:0px; top:0px;}
		50%  {background: #9b59b6; left:0px; top:0px;}
		75%  {background: #8e44ad; left:0px; top:0px;}
		100% {background: #16a085; left:0px; top:0px;}
	}
}

.swatch-a {
	background:red;
	position:relative;
	border:none;
	/* Chrome, Safari, Opera */
	-webkit-animation-name:myfirst;
	-webkit-animation-duration:10s;
	-webkit-animation-timing-function:linear;
	-webkit-animation-delay:0s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:alternate;
	-webkit-animation-play-state:running;
	/* Standard syntax */
	animation-name:colorShift;
	animation-duration:10s;
	animation-timing-function:linear;
	animation-delay:0s;
	animation-iteration-count:infinite;
	animation-direction:alternate;
	animation-play-state:running;
	@include color-shift('rgba(255,83,13,1)', 'rgba(232,44,12,1)', 'rgba(255,0,0,1)', 'rgba(232,12,122,1)', 'rgba(255,13,255,1)');
}

.vco{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.vci{
	-webkit-box-flex: 0;
	-webkit-flex: none;
	-ms-flex: none;
	flex: none;
}



.staticrypt-hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eee;
}



.staticrypt-form {
	position: relative;
	z-index: 1;
	background: transparent;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
	box-shadow: none;
}

.staticrypt-form input {
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
	color:#000;
}

.staticrypt-form .staticrypt-decrypt-button {
	text-transform: uppercase;
	outline: 0;
	background: #4CAF50;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	cursor: pointer;
}

.staticrypt-form .staticrypt-decrypt-button:hover, .staticrypt-form .staticrypt-decrypt-button:active, .staticrypt-form .staticrypt-decrypt-button:focus {
	background: #43A047;
}

.staticrypt-html {
	height: 100%;
}

.staticrypt-body {
	margin-bottom: 1em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.staticrypt-instructions {
	margin-top: -1em;
	margin-bottom: 1em;
}

.staticrypt-title {
	font-size: 1.5em;
}

.staticrypt-footer {
	position: fixed;
	height: 20px;
	font-size: 16px;
	padding: 2px;
	bottom: 0;
	left: 0;
	right: 0;
	margin-bottom: 0;
}

.staticrypt-footer p {
	margin: 2px;
	text-align: center;
	float: right;
}

.staticrypt-footer a {
	text-decoration: none;
}



.inner{
	background-image:url('../images/bg-inner.jpg');
	background-repeat:no-repeat;
	background-size:cover;	
	background-position:center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;


	.name{
		text-align:center;
		background-color:rgba(0,0,0,0.75);
		text-shadow:4px 4px 6px rgba(0,0,0,1);
		color:#fff;
		padding:3rem;
		background-position:center;
		font-size:4rem;
	}

	#name-submit{
		margin-top:4rem;
		font-size:3rem;
		transition: all 0.5s ease;
	}

	#name-submit:hover{
		font-size:3.5rem;
	}


	.row{
		text-align:center;
	}

}

@media(max-width:776px){

	.staticrypt-body{
		position:relative;
		min-height:100vh;

		.staticrypt-page{
			position:absolute;
			bottom:0;
			width:100%;
		}

		.staticrypt-form{
			margin-bottom:0;
			padding:1rem;
			margin:0 auto;
		}
	}
	
	body{
		background-image:url('../images/bg-mobile3.jpg');
	}

	.inner {
		.name{
			font-size:2rem;
			padding:2rem;
		}

		#name-submit{
		font-size:1.5rem;
	}

	#name-submit:hover{
		font-size:2rem;
	}

	}


}